<div class="container"></div>
     <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="col-md-5">
            {{> cursos/cursoForm}}
        </div>
    </div>
</div>