<div class="card card-body p-4 rounded-0 bg-dark text-white">
    <h4 class="text-center">Agregar estudiante</h4>
    <form class="form-inline" action="/estudiantes/agregar" method="GET"></form>
    <form action="/estudiantes/agregar" method="POST">
     
     <div>
        <label for="id">Escribe el id:</label>
        <input type="text" name="id" placeholder="ID" id="id"
        class="form-control bg-dark text-white"/>
    </div>

    <div>
        <label for="nombre">Escribe tu  nombre:</label>
        <input type="text" name="nombre" placeholder="Name" id="nombre"
        class="form-control bg-dark text-white"/>
    </div>

     <div>
        <label for="apellido">Escribe tu apellido:</label>
        <input type="text" name="apellido" placeholder="Apellido" id="apellido"
        class="form-control bg-dark text-white"/>
    </div>

    <div>
        <label for="edad">Escribe tu edad:</label>
        <input type="text" name="edad" placeholder="Edad" id="edad"
        class="form-control bg-dark text-white"/>
    </div>

    <div>
        <label for="hobbie">Escribe tu hobbie:</label>
        <input type="text" name="hobbie" placeholder="Hobbie" id="hobbie"
        class="form-control bg-dark text-white"/>
    </div>

    <div>
    <label for="imagen">Selecciona una imagen:</label>
    <input type="file" name="imagen" id="imagen" class="form-control"/>
  </div>

    <button class="btn btn-success btn-sm mt-2">Agregar</button>
</form>

    <button class="btn btn-success btn-sm mt-2" onclick="window.location.href='/estudiantes';">Volver</button>

</div>